/* Style for ul */
ul {
    padding-inline-start: 20px;
}

/* Style for navigation on mobile */
@media only screen and (max-width: 768px) {
    .resume-wrap ul {
        padding-inline-start: 0px;
    }
  }

.ftco-navbar-light .container {
    margin: 0.3rem auto;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
        padding-bottom: 0;
        padding-top: 20px;
    }
}

/* Style for home  */
.mouse-icon {
    cursor: initial;
}

.mouse-icon:after {
    background: none;
}

.slider-text h2 span {
    text-decoration: none;
}

/* Style for about */
.ftco-about .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: relative;
}

.ftco-about .ftco-footer-social li a:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
}

/* Style for footer */
.ftco-footer .text-center p, .ftco-footer .text-center a {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.1);
}

.ftco-footer {
    padding: 4em 0 0 0;
}

.ftco-footer .ftco-footer-social li a {
    background: rgba(255, 255, 255, 0.2);
}

.ftco-footer .ftco-footer-social li a:hover {
    background: rgba(255, 255, 255, 0.4);
}