* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	max-width: 1000px;
	margin: auto;
	background-color: #E0E0E0;
}

@media all and (min-width: 1000px) {
    body{font-size: 20px;}
}

@media all and (max-width: 1000px) {
    body{font-size: 2vw;}
}

/*-----STYLE FOR HOMEPAGE-----*/
#wrap {
	position: absolute;
	width: 100%;
	margin-top: 1%;
}

header {
	position: absolute;
	margin-top: 2%;
	width: 100%;
	padding-bottom: 10%;
}

.title {
	position: absolute;
	left: 5%;
	bottom: 0;
	font-family: 'Caesar Dressing', Arial, sans-serif;
	font-size: 10vmin;
	color: #2196F3;
	width: 50%;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	animation: anim_title 0.5s ease;
}

@keyframes anim_title {
	0% {bottom: 100%;}
	100% {bottom: 0;}
}

.top_car {
	position: absolute;
	bottom: 0;
	right: 5%;
	width: 50%;
	text-align: right;
	animation: anim_top_car 0.5s ease;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

@keyframes anim_top_car {
	0% {margin-right: 50%; opacity: 0;}
	100% {margin-right: 0; opacity: 1;}
}

.top_car img {
	width: 50%;
	margin-top: 6%;
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}

section {
	position: absolute;
	width: 90%;
	margin-top: 14%;
	margin-left: 5%;
	padding-bottom: 50%;
	border: 3px solid #212121;
	overflow: hidden;
	animation: anim_section 1s ease;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

@keyframes anim_section {
	0% {left: -100%; padding-bottom: 0%; opacity: 0;}
	50% {left: 0%; padding-bottom: 0%; opacity: 0.5;}
	100% {padding-bottom: 50%; opacity: 1;}
}

.txt {
	position: absolute;
	width: 90%;
	margin-top: 3%;
	margin-left: 5%;
	font-size: 2em;
	color: #212121;
	text-align: center;
	font-family: 'Architects Daughter', Arial, sans-serif;
	animation: anim_txt 1s ease;
	animation-delay: 1.5s;
	animation-fill-mode: backwards;
}

@keyframes anim_txt {
	0% {margin-top: -30%;}
	100% {margin-top: 3%;}
}

.txt2 {
	position: absolute;
	margin-top: 25%;
	font-size: 2em;
	color: #212121;
	text-align: center;
	font-family: 'Architects Daughter', Arial, sans-serif;
	width: 100%;
	animation: anim_txt2 1s ease;
	animation-delay: 3.5s;
	animation-fill-mode: backwards;
}

@keyframes anim_txt2 {
	0% {opacity: 0; font-size: 0.5em; margin-top: 40%;}
	100% {opacity: 1; font-size: 2em; margin-top: 25%;}
}

.play {
	position: absolute;
	width: 100%;
	margin-top: 35%;
    text-align: center;
	animation: anim_play 1.2s ease;
	animation-delay: 2s;
	animation-fill-mode: backwards;
}

@keyframes anim_play {
	0% {left: -70%; transform: rotate(-45deg);}
	100% {left: 0%; transform: rotate(0deg);}
}

.fa-car-side {
	font-size: 6em;
	color: #F44336;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/*-----STYLE FOR QUIZ PAGES-----*/
.p_txt {
	position: absolute;
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	font-size: 2em;
	color: #212121;
	text-align: center;
	font-family: 'Architects Daughter', Arial, sans-serif;
	animation: anim_p_txt 1s ease;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

@keyframes anim_p_txt {
	0% {margin-top: -30%;}
	100% {margin-top: 5%;}
}

.p_title {
	position: absolute;
	width: 50%;
	left: 5%;
	bottom: 0;
	font-family: 'Caesar Dressing', Arial, sans-serif;
	font-size: 10vmin;
	color: #2196F3;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.p_top_car {
	position: absolute;
	bottom: 0;
	right: 5%;
	width: 50%;
	text-align: right;
}

.p_top_car img {
	width: 50%;
	margin-top: 6%;
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}

/*STYLE FOR QUIZ FRAME*/
#status {
    position: absolute;
    margin-top: 16%;
    margin-left: 10%;
    z-index: 1;
	font-family: Courier, monospace;
	color: #388E3C;
    font-size: 2em;
}

#test {
	position: absolute;
    width: 90%;
    margin-top: 14%;
    margin-left: 5%;
    border: 3px solid #212121;
    background-color: #B3E5FC;
    padding: 7% 5% 3%;
    font-family: Quicksand, Arial, sans-serif;
}

button {
	width: 10%;
    padding: 1%;
    /*border: 1.5px solid #454545;*/
    background-color: #E53935;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
    font-family: Quicksand, Arial, sans-serif;
    cursor: pointer;
}

button:focus {
	outline: none;
}

/*STYLE FOR CONGRAT PAGE*/
#congrat {
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    background-color: #011547;
}

#c_wrap {
	position: absolute;
	width: 100%;
    padding-top: 60%;
}

.t1 {
	position: absolute;
	text-align: center;
    color: #ffffff;
    width: 50%;
	bottom: -10%;
    font-family: Comfortaa, Arial, sans-serif;
    font-size: 3em;
    animation: anim_t1 2.5s linear;
    animation-fill-mode: forwards;
}

@keyframes anim_t1 {
	0% {opacity: 0; transform: translateX(250%);}
	20% {opacity: 1; transform: translateX(90%);}
	80% {opacity: 1; transform: translateX(30%);}
	100% {opacity: 0; transform: translateX(-150%);}
}

.t2 {
	position: absolute;
	text-align: center;
    color: #ffffff;
    width: 60%;
	bottom: -10%;
    font-family: Comfortaa, Arial, sans-serif;
    font-size: 3em;
    animation: anim_t2 2.5s linear;
    animation-delay: 2s;
    animation-fill-mode: backwards;
	transform: translateX(-180%);
}

@keyframes anim_t2 {
	0% {opacity: 0; transform: translateX(250%);}
	20% {opacity: 1; transform: translateX(60%);}
	80% {opacity: 1; transform: translateX(10%);}
	100% {opacity: 0; transform: translateX(-180%);}
}


.t3 {
	position: absolute;
	text-align: center;
    color: #ffffff;
    width: 80%;
	bottom: -10%;
    font-family: Comfortaa, Arial, sans-serif;
    font-size: 2.5em;
    animation: anim_t3 2.5s linear;
    animation-delay: 4s;
    animation-fill-mode: backwards;
	transform: translateX(-180%);
}

@keyframes anim_t3 {
	0% {opacity: 0; transform: translateX(250%);}
	20% {opacity: 1; transform: translateX(35%);}
	80% {opacity: 1; transform: translateX(-10%);}
	100% {opacity: 0; transform: translateX(-180%);}
}


.t4 {
	position: absolute;
	text-align: center;
    color: #ffffff;
    width: 70%;
	bottom: -10%;
    font-family: Comfortaa, Arial, sans-serif;
    font-size: 3em;
    animation: anim_t4 2.5s linear;
    animation-delay: 6s;
    animation-fill-mode: backwards;
    transform: translateX(-180%);
}

@keyframes anim_t4 {
	0% {opacity: 0; transform: translateX(250%);}
	20% {opacity: 1; transform: translateX(50%);}
	80% {opacity: 1; transform: translateX(20%);}
	100% {opacity: 0; transform: translateX(-180%);}
}

.t5 {
	position: absolute;
	text-align: center;
    color: #ffffff;
    width: 50%;
	bottom: -10%;
    font-family: Comfortaa, Arial, sans-serif;
    font-size: 3em;
    animation: anim_t5 2.5s linear;
    animation-delay: 8s;
    animation-fill-mode: backwards;
    transform: translateX(-180%);
}

@keyframes anim_t5 {
	0% {opacity: 0; transform: translateX(250%);}
	20% {opacity: 1; transform: translateX(80%);}
	80% {opacity: 1; transform: translateX(20%);}
	100% {opacity: 0; transform: translateX(-180%);}
}

