* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	vertical-align: middle;
}

.clear {
	clear: both;
}

body {
	background-color: #ecf0f1;
}

@keyframes title {
	0% {background-color: #2d3436; color: #81ecec; opacity:0;}
	10% {background-color: #2d3436; color: #81ecec;}
	33% {background-color: #636e72; color: #00cec9;}
	66% {background-color: #b2bec3; color: #fab1a0;}
	100% {background-color: #dfe6e9; color: #e17055;}
}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	font-family: Arial, sans-serif;
	font-size: 4vmax;
	text-align: center;
	background-color: #dfe6e9;
	color: #e17055;
	animation: title 6s ease-in-out;
}

#wrap {
	margin: auto;
	max-width: 1000px;
}

.thumb {
	float: left;
	width: 33%;
	margin-bottom: 30px;
}

.image, .image2 {
	width: 90%;
	padding: 3px;
	border: 1px solid #bdc3c7;
	overflow: hidden;
}

.image img {
	transition: all 0.5s ease;
}

.image img:hover {
	opacity: 0.8;
	transform: scale(1.2);
}

.image2 {
	transition: all 0.3s ease;
}

.image2:hover {
	transform: translate(0, -3px);
	box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

@keyframes credit {
	0% {opacity:0; left:10%;}
	25%, 75% {opacity:1; left:0;}
	100% {opacity:0; left:-20%;}
}

#wrap p {
	float: right;
	margin-right: 4.3%;
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 1.3vmax;
	animation: credit 5s ease;
	animation-delay: 5s;
	opacity: 0;
}