* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Style for homepage*/
body {
	max-width: 1000px;
	margin: 0 auto;
}

body > img {
	max-width: 100%;
	margin: 5px auto;
}

.clear {
	clear: both;
}

nav {
	text-align: center;
}

nav a {
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 3.5vmin;
	color: #2c3e50;
	padding-left: 30px;
	padding-right: 30px;
}

nav a:hover {
	color: #ffffff;
	background-color: #2980b9;
	text-align: center;
}

.image {
	float: left;
	width: 33%;
	padding: 1%;
}

.image:hover {
	background-color: #bdc3c7;
}

.image img {
	width: 100%;
}

.desc {
	font-family: Verdana, sans-serif;
	text-align: center;
	font-size: 2vmin;
	padding: 0.5%;
}

/*Style for about page*/
.about {
	font-family: Arial, sans-serif;
}