* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1000px;
	margin: auto;
	margin-top: 2%;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #ffffff;
	background: url(bg3.jpg);
}

#container {
	width: 100%
	position: relative;
}

h1 {
	text-align: center;
	color: #ffffff;
	padding: 2%;
}

.guide {
	margin-left: 10%;
	margin-bottom: 2%;
}

form {
	width: 90%;
	margin-left: 10%;
}

p.note {
	margin-top: 0.8%;
}

input {
    width: 200px;
    height: 30px;
    margin-bottom: 1%;
    padding-left: 1%;
    font-size: 0.8em;
}

label {
	margin-right: 2%;
}

input#male, input#female {
	width: 20px;
	height: 17px;
	padding-right: 2%;
}

button {
	margin-top: 3%;
    width: 100px;
    height: 30px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #FF1744;
    color: #ffffff;
}

button:focus {
	outline: none;
}

/*STYLE FOR RESULT PAGE*/
#info p {
	display: inline-block;
	font-weight: bold;
}

#r_container {
	width: 100%;
	position: relative;
}

#r_container > div {
	margin-left: 10%;
	margin-bottom: 2%;
}

.congrat {
	position: absolute;
	font-size: 40px;
	animation: anim_congrat 2s ease;
	bottom: 0;
}

@keyframes anim_congrat {
	0% {opacity: 0}
	100% {opacity: 1}
}

