* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 600px;
	margin: auto;
	margin-top: 1%;
	position: relative;
}

#container {
	position: absolute;
	width: 100%;
	padding-bottom: 100%;
}

/*-----STYLE FOR MUMMY CLOCK-----*/
.main {
	position: absolute;
	width: 100%;
	padding-top: 100%;
	background-color: #424242;
    border: 1px solid #454545;
    border-radius: 50%;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.8);
}

.main .num {
    font-size: 8vmin;
}

.num {
    position: absolute;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 10%;
    color: #ffffff;
}

.n12 {
    top: 1%;
    left: 45%;
}

.n3 {
	top: 45%;
    right: 1%;
}

.n6 {
    left: 45%;
	bottom: 1%;	
}

.n9 {
	left: 1%;
	top: 45%;
}

.main_inside {
	position: absolute;
	width: 74%;
	padding-top: 74%;
	background-color: #dddddd;
	border: 1px solid #454545;
	border-radius: 50%;
	top: 13%;
    left: 13%;
}

.main_txt {
	position: absolute;
    width: 30%;
    top: 20%;
    left: 35%;
    text-align: center;
    font-size: 5vmin;
}

.dash {
  position: absolute;
  width: 6%;
  padding-top: 1.2%;
  background-color: #ffffff;
}

.dash1 {
  top: 12%;
  right: 25%;
  transform: rotate(120deg);
}

.dash2 {
  top: 28%;
  right: 9%;
  transform: rotate(150deg);
}

.dash3 {
  top: 70%;
  right: 9%;
  transform: rotate(215deg);
}

.dash4 {
  top: 87%;
  right: 25%;
  transform: rotate(235deg);
}

.dash5 {
  top: 86%;
  right: 70%;
  transform: rotate(120deg);
}

.dash6 {
  top: 71%;
  right: 85%;
  transform: rotate(150deg);
}

.dash7 {
  top: 28%;
  right: 85%;
  transform: rotate(215deg);
}

.dash8 {
  top: 13%;
  right: 70%;
  transform: rotate(235deg);
}

.dot {
	position: absolute;
	width: 3%;
	padding-top: 3%;
	background-color: #000000;
	border-radius: 50%;
	left: 48.5%;
    top: 48.5%;
    z-index: 2
}

/*-----STYLE FOR INSIDE CLOCKS-----*/
.clk {
	position: absolute;
	width: 26%;
	padding-top: 26%;
	background-color: #757575;	
	border: 1px solid #454545;
	border-radius: 50%;
}

.clk .num {
	font-size: 2.5vmin;
	/*font-weight: bold;*/
}

.clk .n12 {
    top: 4%;
    left: 45%;
}

.clk .n3 {
	top: 45%;
    right: 4%;
}

.clk .n6 {
    left: 45%;
	bottom: 4%;	
}

.clk .n9 {
	left: 4%;
	top: 45%;
}

.clk_inside {
	position: absolute;
	width: 60%;
	padding-top: 60%;
	background-color: #ECEFF1;	
	border: 1px solid #454545;
	border-radius: 50%;
    top: 20%;
    left: 20%;
}

.clk_dot {
	position: absolute;
	width: 10%;
	padding-top: 10%;
	background-color: #000000;
	border-radius: 50%;
	left: 45%;
    top: 45%;
    z-index: 2
}

.txt {
	position: absolute;
    width: 50%;
    top: 16%;
    left: 25%;
    text-align: center;
    font-size: 2vmin;
}

.clk1 {
	left: 17%;
    bottom: 37%;
}

.clk2 {
	right: 17%;
    bottom: 37%;}

.clk3 {
	left: 37%;
	bottom: 17%;
}

.clock_face {
	position: absolute;
    top: 0;
    z-index: 1;
}

/* -----STYLE FOR MUMMY----- */
#hour, #min, #second {position: absolute; stroke: black;}
#hour {stroke-width: 1%;}
#min {stroke-width: 0.6%;}
#second {stroke: #D50000;stroke-width: 0.3%;}

/* STYLE FOR CHILDREN */
#hour1, #min1, #second1, #hour2, #min2, #second2, #hour3, #min3, #second3 {position: absolute; stroke: black;}
#hour1, #hour2, #hour3 {stroke-width: 2%;}
#min1, #min2, #min3 {stroke-width: 1.5%;}
#second1, #second2, #second3 {stroke: #D50000;stroke-width: 0.5%;}
