* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

body {
	background-color: #E0E0E0;
	max-width: 800px;
}

ul li {
	display: inline-table;
}

a {
	text-decoration: none;
}

#promotion {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 40%;
	overflow: hidden;
}

.left_arrow {
	position: absolute;
	top: 48%;
	left: 1%;
	font-size: 5vmin;
}

.right_arrow {
	position: absolute;
	top: 48%;
	right: 1%;
	font-size: 5vmin;	

}

.promo img {
	transform: translateY(-20%);
}

.f_item, .n_item {
	float: left;
	width: 33.3%;
}

#to_top {
	position: fixed;
	right: 3%;
	bottom: 3%;
	font-size: 4vmin;
	text-decoration: none;
	color: #e74c3c;
}