body{
  text-align: center;
  background-color;
}


h1{
color: white;
}


    .container{
        background-image:   url(https://s26.postimg.org/frq6u3odl/texture-seamless-wood-3.jpg);
        position: relative;
        max-width: 550px;
    padding: 10px;
        height: auto;
        margin: auto;
        top: 0;
        border: 0;
}
.form.holder{
  max-width:500px;
  height:auto;
  margin: auto;
  padding-bottom: 0;
  background-color:black;
  text-align:center;
  border-radius:10px;
  border:2px groove #333;
  box-shadow:4px 4px 2px #666666;
  overflow: hidden;
}

 #formone{
    padding-top:35px;
    padding-bottom: 10px;
}  

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input{
  display: inline
    font-size: 30px;
}

#display{ 
  height:60px;
  width:84.5%;
  color: blue;
  margin:3px;
  border:2px inset black;
  border-bottom:2px inset #FFF;
  border-right:2px inset #FFF;
  border-radius: 5px;
  background-color:#c6c6c4;
  font-size: 1.75em;
}


.button.end.one,.button.number.one,.button.three,.button.opps.one,.button.number.two,.button.opps.two,.button.n, .button.sin,.button.end.two,.button.third.row {
font-size: 20px;
transition: all 0.5s ease-in-out;
cursor: pointer;
border-radius: 5px;
border: none;
color: white;
width:12.5%;
height:60px;
margin: 3px;
}


.button.end.one{
  background-color: #4CAF50;
}


.button.number.one{
  background-color: #4CAF50;
}


.button.three{
background-color: #4CAF50;
}


.button.opps.one{
  background-color: #4CAF50;
  }


/*
.button.number.two{
  background-color: #ffff00;
}


.button.opps.two{
  background-color: #ffff00;
}

.button.n{
  background-color: #ffff00;
}

.button.sin{
  background-color: #ffff00;
}

.button.end.two{
  background-color: #ffff00;
}
*/


.button.end.two, .button.sin, .button.n, .button.opps.two, .button.number.two {
  background-color: #ffff00;
  color: white;
  text-shadow: 0 0 1px black;
}



.button.third.row{
  background-color: #ef1a07;
}



@media only screen and (max-width: 450px) {
 #heading{
  font-size: 20px !important;
 } 
} 


@media only screen and (max-width: 450px) {
 .button.end.one,.button.number.one,.button.three,.button.opps.one,.button.number.two,.button.opps.two,.button.n, .button.sin,.button.end.two,.button.third.row{
font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
 .button.end.one,.button.number.one,.button.three,.button.opps.one,.button.number.two,.button.opps.two,.button.n, .button.sin,.button.end.two,.button.third.row{
font-size: 9px;
  }
}



@media only screen and (max-width: 450px) {  .button.end.one,.button.number.one,.button.three,.button.opps.one,.button.number.two,.button.opps.two,.button.n, .button.sin,.button.end.two,.button.third.row{
  width:12%;
  height:50px;
  }
}


@media only screen and (max-width: 302px) {
   #heading{
  font-size: 15px !important;
 } 
}



@media only screen and (max-width: 302px) {
  .form.holder{
  height: 450px;
  }
}


@media only screen and (max-width: 302px) {  .button.end.one,.button.number.one,.button.three,.button.opps.one,.button.number.two,.button.opps.two,.button.n, .button.sin,.button.end.two,.button.third.row{
  width:12%;
  height:30px;
  }
}


@media only screen and (max-width: 302px) {
  .form.holder{
  height: 325px;
  }
}