body{
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.wrap {
  border: 2px solid #757575;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.8);
  margin-top: 5%;
}

#title {
  margin-top: 2%;
  font-family: Arial, sans-serif;
}

#display { 
  height: 50px;
  width: 90%;
  margin: 4%;
  border-radius: 5px;
  font-size: 1.75em;
  text-align: right;
}

#btns {
  margin-bottom: 4%;
}

.button {
  font-size: 22px;
  cursor: pointer;
  width: 20%;
  height: 60px;
  margin: 1%;
}