* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  position: relative;
  font-family: Quicksand, Arial, sans-serif;
  color: #393B60;
}

/* ===== DEFINE CUSTOM CLASSES ===== */
.font-oswald {
    font-family: Oswald, Arial, sans-serif;
}

.color-393B60 {
    color: #393B60 !important;
}

.color-9395A9 {
    color: #9395A9 !important;
}

.color-C3C3CE {
    color: #C3C3CE !important;
}

.color-EE5151 {
    color: #EE5151 !important;
}

.hidden-border {
  border: 2px solid rgba(0, 0, 0, 0);
}

.border-gray {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.no-underline {
  text-decoration: none !important;
}

.pointer {
  cursor: pointer;
}
/* ===== END OF DEFINE CUSTOM CLASSES ===== */

/* Small devices (landscape phones, 767px and below */
@media (max-width: 767px) {
  /* .brand a {
    font-size: 1.4rem;
  } */
  .navbar {
    z-index: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .brand {
    width: 10%;
  } */
  /* .brand a {
    font-size: 1.3rem;
  } */
  /* .collapse.navbar-collapse {
    width: 50%;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .brand a {
    font-size: 1.8rem;
  } */
}

/* =====STYLE FOR WOW ANIMATION===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* =====STYLE FOR SLICK SLIDER===== */
.slick-prev:before {
  color: lightslategray;
}

.slick-next:before {
  color: lightslategray;
}

/* =====STYLE FOR BODY===== */
.container {
  max-width: 1920px;
  margin: auto;
}

/* =====STYLE FOR HEADER===== */
header {
  height: 70px;
  background-color: #ffffff;
}

.brand {
  width: 15%;
  text-align: center;
}

.collapse.navbar-collapse {
  width: 40%;
}

.search {
  width: 5%;
}

.cart {
  width: 5%;
}

.navbar-brand {
  font-size: 36px;
}

.nav-link,
.dropdown-item {
  font-size: 20px;
  transition: all 0.3s ease;
}

.dropdown-menu {
  margin-top: 0;
  border: 2px solid #2098d1;
  background-clip: unset;
  border-radius: unset;
}

.animate {
  transition: all 0.3s ease;
}

/* .hvr-sweep-to-bottom:before {
    background: #cccccc;
  } */

/* =====STYLE FOR MAIN CAROUSEL===== */
aside {
  margin-top: 70px;
}

/* =====STYLE FOR HR BAR===== */
/* hr {
  max-width: 1000px;
} */

/* =====STYLE FOR SECTION===== */
section {
  /* max-width: 1000px; */
  margin: auto;
  margin-top: 50px;
}

/* ===== STYLE FOR COLLECTIONS ===== */
.collection > .row > div {
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -50px;
}

.collection-img {
  height: 74%;
}

.collection1-item {
  background: url('images/Activity Trackers/Garmin vívofit 2 Activity Tracker/3.jpg');
}

.collection2-item {
  background: url('images/Sport Watches/Garmin vívoactive 3/3.jpg');
}

.collection3-item {
  background: url('images/Smart Watches/Apple Watch Series 4/3.jpg');
}

.collection-txt {
  background: rgba(82, 84, 121, 0.8);
  height: 26%;
  /* display: flex; */
}

.collection-txt p {
  font-size: 44px;
  text-align: center;
}

/* =====STYLE FOR WRAP 1===== */
.wrap1-item {
  border: 2px solid rgba(0, 0, 0, 0);
}

.wrap1-item-img {
  overflow: hidden;
}

.wrap1-item:hover {
  border: 2px solid #aaaaaa;
}

.wrap1-item:hover .wrap1-img {
  transform: scale(1.08);
  border: 2px solid #eeeeee;
}

.promo-symbol {
  width: 70px;
  height: 30px;
  top: 10px;
  right: 20px;
  background: #e71d36;
}

.promo-symbol p {
  transform: translate(50%, 10%);
}

.wrap1-item:hover .detail {
  opacity: 1;
  cursor: pointer;
  transform: translate(30%, -250%);
}

.detail {
  opacity: 0;
  width: 60%;
  height: 12%;
  transform: translate(30%, -200%);
  background: rgba(0, 0, 0, 0.5);
}

.detail p {
  font-size: 20px;
  text-align: center;
  transform: translate(0, 10%);
}

.price {
  width: 110px;
}

.price p {
  font-size: 18px;
}

.wrap1-item-title {
  font-size: 18px;
}

/* =====STYLE FOR WRAP 2===== */
.wrap2-item1:hover .wrap2-item1-info {
  left: 10% !important;
  width: 80% !important;
}

.wrap2-item2:hover .wrap2-item2-info {
  right: 10% !important;
  width: 80% !important;
}

.wrap2-item1-info {
  top: 0;
  left: 20%;
  background: rgba(0, 0, 0, 0.1);
}

.wrap2-item2-info {
  top: 0;
  right: 20%;
  background: rgba(0, 0, 0, 0.1);
}

.wrap2-ii-1,
.wrap2-ii-2 {
  font-size: 30px;
}

.wrap2-ii-3 {
  font-size: 46px;
}

/* =====STYLE FOR WRAP 3===== */
.wrap3 {
  width: 100%;
}

.wrap-slider {
  width: calc(100% + 30px);
  margin-left: -15px;
}

.wrap-slider .position-relative:hover {
  border: 2px solid rgba(0, 174, 255, 0.178) !important;
}

.wrap-slider:hover .slick-next {
  right: 30px;
  visibility: visible;
}

.slick-next {
  right: 20px;
  visibility: hidden;
  transition: all 0.3s ease;
}

.wrap-slider:hover .slick-prev {
  left: 30px;
  visibility: visible;
}

.slick-prev {
  left: 20px;
  visibility: hidden;
  z-index: 1;
  transition: all 0.3s ease;
}

.slick-slide {
  margin: 0 15px;
}

.wrap3-item:hover .detail {
  opacity: 1;
  cursor: pointer;
  transform: translate(30%, -250%);
}

/* =====STYLE FOR FOOTER===== */
footer {
  max-width: 1000px;
}

.social_icon {
  font-size: 20px;
}

/* =====STYLE FOR BACK TO TOP ARROW===== */
.back2top {
  color: rgba(0, 0, 0, 0.5);
  font-size: 32px;
  transition: all 0.3s ease;
}

.back2top:hover {
  cursor: pointer;
}

.hide-item {
  opacity: 0;
  cursor: none;
}
