* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  position: relative;
  font-family: Quicksand, Arial, sans-serif;
  color: #393b60;
}

/* ===== DEFINE CUSTOM CLASSES ===== */
.color-393B60 {
  color: #393b60 !important;
}

.color-9395A9 {
  color: #9395a9 !important;
}

.color-C3C3CE {
  color: #c3c3ce !important;
}

.color-EE5151 {
  color: #ee5151 !important;
}

.hidden-border {
  border: 2px solid rgba(0, 0, 0, 0);
}

.border-gray {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.no-underline {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}
/* ===== END OF DEFINE CUSTOM CLASSES ===== */

/* Small devices (landscape phones, 767px and below */
@media (max-width: 767px) {
  /* .brand a {
    font-size: 1.4rem;
  } */
  .navbar {
    z-index: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .brand {
    width: 10%;
  } */
  /* .brand a {
    font-size: 1.3rem;
  } */
  /* .collapse.navbar-collapse {
    width: 50%;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .brand a {
    font-size: 1.8rem;
  } */
}

/* =====STYLE FOR WOW ANIMATION===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* ===== STYLE FOR SLICK SLIDER ===== */
.promotion .slick-arrow {
  position: absolute;
  font-size: 50px;
  color: #9395a9;
  z-index: 1;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.promotion .slick-arrow:hover {
  color: #c3c3ce;
}

.fa-chevron-circle-left {
  left: 1%;
}

.fa-chevron-circle-right {
  right: 1%;
}

.wrap-slider .fa-angle-left {
  left: 0;
}

.wrap-slider .fa-angle-right {
  right: 0;
}

.promotion .slick-prev:before {
  color: red;
  font-size: 50px;
}

.promotion .slick-next:before {
  color: red;
}

.wrap-slider .slick-arrow {
  position: absolute;
  font-size: 80px;
  color: #9395a9;
  z-index: 1;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots {
  bottom: 5%;
}

.slick-dots li.slick-active button:before {
  color: rgba(255, 255, 255, 0.8);
}

.slick-dots li button:before {
  color: rgba(195, 195, 206, 0.4);
}
/* ===== END OF STYLE FOR SLICK SLIDER ===== */

/* ===== STYLE FOR BODY ===== */
.container {
  max-width: 1920px;
  margin: auto;
}

/* ===== STYLE FOR HEADER ===== */
header {
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
}

.navbar {
  padding: 0;
}

.navbar .fas {
  font-size: 25px;
  color: #393b60;
}

.navbar .fa-angle-down {
  font-size: 17px;
  color: #9395a9;
}

.brand {
  width: 15%;
  text-align: center;
}

.collapse.navbar-collapse {
  /* width: 40%; */
}

.search {
  width: 5%;
  padding: 22px 0;
  text-align: center;
}

.cart {
  width: 5%;
  text-align: center;
}

.navbar-brand {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 32px;
}

.nav-link,
.dropdown-item {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1920 - 320)));
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #393b60 !important;
}

.dropdown-menu {
  width: 100%;
  top: 70px;
  position: fixed !important;
  background-clip: unset;
  border-radius: unset;
}

.animate {
  transition: all 0.3s ease;
}

/* =====STYLE FOR MAIN CAROUSEL===== */
aside {
  margin-top: 74px;
}

.promo1-box {
  width: 36%;
  height: 50%;
  top: 90%;
  left: 5%;
  transform: translate(-5%, -90%);
}

.promotion1 .promo-txt1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  right: 0;
  font-size: 7vmax;
}

.promotion1 .promo-txt2 {
  font-family: "Dancing Script", Arial, sans-serif;
  color: #393b60;
  top: 52%;
  right: 0;
  font-size: 3.5vmax;
}

.promotion1 .promo-txt3 {
  bottom: 0;
  right: 0;
  padding: 0.2% 3%;
  font-size: 2vmax;
  color: #ffffff;
  background-color: #393b60;
}

.promotion2 .promo-txt1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  top: 52%;
  left: 6%;
  font-size: 120px;
}

.promotion2 .promo-txt2 {
  font-family: "Dancing Script", Arial, sans-serif;
  color: #393b60;
  top: 74%;
  left: 24%;
  font-size: 50px;
}

.promotion2 .promo-txt3 {
  top: 86%;
  left: 29%;
  padding: 0.2% 1%;
  font-size: 30px;
  color: #ffffff;
  background-color: #393b60;
}

.promotion3 .promo-txt1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  top: 52%;
  left: 6%;
  font-size: 120px;
}

.promotion3 .promo-txt2 {
  font-family: "Dancing Script", Arial, sans-serif;
  color: #393b60;
  top: 74%;
  left: 24%;
  font-size: 50px;
}

.promotion3 .promo-txt3 {
  top: 86%;
  left: 29%;
  padding: 0.2% 1%;
  font-size: 30px;
  color: #ffffff;
  background-color: #393b60;
}

/* =====STYLE FOR SECTION===== */
section {
  margin: auto;
  margin-top: 100px;
}

/* ===== STYLE FOR COLLECTIONS ===== */
.row {
  margin: auto 5%;
}

.collection > .row > div {
  padding-bottom: 27%;
}

.collection-item:hover .collection-img {
  transform: scale(0.9);
}

.collection-item:hover .collection-cover {
  background: rgba(82, 84, 121, 0);
}

.collection-cover {
  background: rgba(82, 84, 121, 0.3);
  width: 100%;
  height: 100%;
}

.collection-item {
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

.collection-txt {
  background: rgba(82, 84, 121, 0.8);
  width: 100%;
  height: 25%;
  bottom: 0;
  line-height: 1.2;
  display: flex;
}

.collection-txt p {
  font-size: 2vmax;
  text-align: center;
}

/* =====STYLE FOR WRAP 1===== */
h1 {
  font-family: Coiny, Arial, sans-serif;
}

.wrap-slider {
  padding: 0 5%;
}

.wrap-slider .slick-list {
  padding-bottom: 4%;
}

.wrap1 {
  margin: auto 8%;
  margin-top: 100px;
}

.wrap1-item {
  width: 100%;
  padding-bottom: 130%;
  border: 1px solid rgba(0, 0, 0, 0);
}

.wrap1-item:hover {
  border: 1px solid rgba(57, 59, 96, 1);
}

.promo-symbol {
  width: 70px;
  height: 30px;
  top: 10px;
  right: 20px;
  background: #e71d36;
}

.promo-symbol p {
  transform: translate(50%, 10%);
}

.wrap1-item:hover .detail {
  opacity: 1;
  cursor: pointer;
  top: 42%;
}

.wrap1-item:hover .add-to-cart {
  opacity: 1;
  cursor: pointer;
  top: 55%;
}

.detail {
  opacity: 0;
  width: 66%;
  height: 10%;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(238, 81, 81, 0.8);
}

.add-to-cart {
  opacity: 0;
  width: 66%;
  height: 10%;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(82, 84, 121, 0.8);
}

.detail p,
.add-to-cart p {
  font-size: 1.2vmax;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap-slider .info {
  width: 100%;
  bottom: 9%;
}

.wrap-slider .info p {
  display: inline-block;
}

.wrap-slider .price {
  margin-left: 3%;
  font-weight: bold;
  font-size: 2vmax;
}

.wrap-slider .old-price {
  margin-left: 5%;
  font-size: 1vmax;
  color: #9395a9;
  text-decoration: line-through;
}

.wrap-slider .product-name {
  width: 100%;
  font-size: 1.2vmax;
  left: 3%;
  bottom: 2%;
}

/* ===== STYLE FOR ADVERTISEMENT ===== */
.advert {
  padding-bottom: 30%;
  margin-top: 50px;
  overflow: hidden;
}

.ad-img {
  width: 100%;
}

.ad-img img {
  transform: translateY(-250px);
}

.ad-box {
  width: 30%;
  height: 50%;
  left: 17%;
  top: 50%;
  transform: translate(-17%, -50%);
  background: rgba(195, 195, 206, 0.4);
}

.ad-txt1 {
  text-align: center;
  margin-top: 5%;
  font-size: 3.5vmax;
}

.ad-txt2 {
  text-align: center;
  margin-top: -5%;
  font-size: 3vmax;
}

.ad-txt2 span {
  font-size: 5vmax;
}
/* ===== END OF STYLE FOR ADVERTISEMENT ===== */

/* ===== STYLE FOR FOOTER ===== */
footer {
  margin-top: 50px;
  color: #ffffff;
  background-color: #393b60;
}

.wrap-footer {
  margin: auto;
  width: 80%;
  height: 180px;
  font-size: 1.2vmax;
}

.menu-footer {
  width: 35%;
  margin-top: 2%;
}

.menu-footer h4 {
  font-size: 2.4vmax;
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

.menu-footer h4 span {
  color: #9395a9;
}

.menu-footer ul {
  right: 10%;
  list-style-type: none;
}

.copyright {
  bottom: 10%;
  color: #9395a9;
}

.address {
  width: 40%;
  margin-top: 2%;
}

.address i, .address p {
  display: inline-block;
}

.social {
  width: 25%;
  margin-top: 2%;
  font-size: 2vmax;
}

.social .fab {
  margin-right: 5%;
}

/* ===== END OF STYLE FOR FOOTER ===== */

/* ===== STYLE FOR BACK TO TOP ===== */
.back2top {
  color: rgba(0, 0, 0, 0.5);
  font-size: 32px;
  transition: all 0.3s ease;
}

.back2top:hover {
  cursor: pointer;
}

.hide-item {
  opacity: 0;
  cursor: none;
}
