* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #000000;
	font-size: 2.1vmin;
}

body {
	max-width: 1000px;
	margin: auto;
	margin-top: 1%;
}

/*---STYLE FOR HEADER---*/
header {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 30%;
	margin: auto;
}

header img {
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5)
}

header h2 {
	position: absolute;
	bottom: 20%;
	margin-left: 3%;
	font-family: Arial, sans-serif;
	font-size: 5vmin;
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header h4 {
	position: absolute;
	bottom: 5%;
	margin-left: 3%;
	font-family: 'Courier New', monospace;
	font-size: 3vmin;
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/*---STYLE FOR MENU BAR---*/
nav {
	width: 100%;
}

nav ul {
	margin: 0.5% auto;
	text-align: center;
	list-style: none;
}

nav ul li {
	display: inline-block;
	width: 12%;
	padding: 0.5% 0;
	transition: all 0.3s ease;
	border: 1px solid #ffffff;
}

nav ul li a {
	font-family: Helvetica, sans-serif;
	font-size: 2.2vmin;
	font-weight: bold;
	color: #000000;
}

nav ul li:hover {
	background-color: #000000;
}

nav ul li:hover a {
	color: #ffffff;
	font-weight: normal;
}

/*CLEARFIX FOR WRAP AREA*/
#wrap:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

/*STYLE FOR SECTION AREA*/
section {
	float: left;
	width: 70%;
}

/*STYLE FOR ARTICLE*/
article {
	width: 95%;
}

article h1 {
	font-size: 4vmin;
}

article p {
	font-size: 2.1vmin;
	text-align: justify;
}

/*---STYLE FOR ASIDE---*/
aside {
	margin-top: 2%;
	float: right;
	width: 30%;
	text-align: center;
	border-left: 2px solid #757575;
}

aside img {
	margin: 10%;
	width: 80%;
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5)
}

aside p {
	text-align: justify;
	padding: 0% 10% 10%;
	font-size: 2vmin;
}

/*---STYLE FOR FOOTER---*/
footer {
	margin-top: 1%;
	display: flex;
}

/*---STYLE FOR FOOTER MENU---*/
footer div {
	flex: 1;
	margin-left: 5%;
	margin-bottom: 1%;
}

/*---STYLE FOR ADDRESS---*/
footer address {
	flex: 3;
	font-size: 2.1vmin;
}