<html>
<title>Vue.js Practice</title>
<link rel="stylesheet" href="style.css">

<body>

	<div id="app">
		<div class="product">
			<div class="product_image">
				<img :src=image />
			</div>
			<div class="product_info">
				<h1>{{ product_name }}</h1>
				<p v-if="inStock">In stock</p>
				<p v-else>Out of stock</p>

				<ul>
					<li v-for="detail in details">{{ detail }}</li>
				</ul>

				<div class="color_box" 
					 v-for="variant in variants" 
					 :key="variant.variantId" 
					 :style="{ backgroundColor: variant.variantColor }"				 
					 @mouseover="updateProduct(variant.variantImage)">
				</div>

				<button v-on:click="addToCart"
					 :disabled="!inStock"
					 :class="{ disabledButton: !inStock }">
					 Add to Cart
				</button>
				<button class="remove"
					 @click="removeFromCart"
					 :disabled="!inStock"
					 :class="{ disabledButton: !inStock }">
					 Remove from Cart
				</button>

				<div class="cart">
					<p>Cart ({{ cart }})</p>
				</div>
			</div>

		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
	<script src="script.js"></script>
</body>

</html>