* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 600px;
	margin: auto;
}

button {
	width: 15%;
	padding: 2% 0;
	background-color: #0090d3;
	font-size: 0.8em;
	color: #ffffff;
	cursor: pointer;
}

button.remove {
	width: 22%;
	background-color: red;
}

button:focus {
	outline: none;
}

.disabledButton {
	background-color: gray;
}

.color_box {
	width: 5%;
	padding-top: 5%;
	margin-bottom: 1%;
}